body{
    background-color: rgba(5, 5, 5, 0.699);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}

header, footer {
    text-align: center;
}

#dex-sec{

    margin: auto;
    padding: 10px 10px;
    text-align: center;
    border-radius: 30px;
}

#search{
    border-style: none;
    border-bottom: solid rgb(252, 0, 0) 1px;
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    color:red;

}

button{
    background-color: rgb(255, 255, 255, 0);
    border: hidden;
}

/* #lista{
    height: 30px;
    width: 90%;
    border-radius: 30px;
    border: none;
    text-align: center;
    color: red;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    background-color: black;
} */
.dex-cards-principal{
    width: 300px;
    height: 300px;
    text-align: center;
    background:rgb(0, 0, 0);
    margin: 10px auto;
    border-radius: 30px;
    border:solid 2px red;
}

input{
    margin: 5px;
    padding: auto;
    text-align: center;
}



